
<div class="container">
  {{#paper-content class="md-padding"}}
  <h1>About Msoko</h1>
{{/paper-content}}

  <div class="row">
    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/vega.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>Fresh Grocery</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>

    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/shop.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>Shop with Us</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>




  </div>
  <div class="row">
    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/home.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>Home Delivery</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>

    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/hustle.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>NO more hustles</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>




  </div>

  </div>
