<!-- <div class="row about">
  <div class="col-md-10 col-md-offset-1">
    <h2>Delivering the perfect cup of coffee since 1992</h2>
    <br>
    <div class="col-md-4">
      <img src="/assets/img/barista.png" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      </p>
    </div>
  </div>
</div> -->
<div class="container">
  {{#paper-content class="md-padding"}}
  <h1>About Msoko</h1>
{{/paper-content}}

  <div class="row">
    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/vega.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>Fresh Grocery</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>

    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/shop.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>Shop with Us</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>




  </div>
  <div class="row">
    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/home.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>Home Delivery</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>

    <div class="col-md-6">
      {{#paper-card}}
  <img src="/assets/img/hustle.jpg" class="img-responsive">
    {{#paper-card-content}}
      <h2>NO more hustles</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    {{/paper-card-content}}

  {{/paper-card}}
    </div>




  </div>

  </div>
