
<header>
  {{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'index' id="title"}}{{#paper-button}}Msoko{{/paper-button}}{{/link-to}}
    {{#link-to 'index'}}{{#paper-button}}Grocery{{/paper-button}}{{/link-to}}
    {{#link-to 'about'}}{{#paper-button}}About{{/paper-button}}{{/link-to}}
    {{#link-to 'contact'}}{{#paper-button}}Contact Us{{/paper-button}}{{/link-to}}
    <span class="basket">{{#link-to 'shopping-cart' class="basket"}}<i class="shopping basket icon"></i>{{/link-to}}</span>
  </div>
{{/paper-toolbar}}
</header>

<div class="container">
  {{outlet}}
</div>
