<div class="row about">
  <div class="col-md-4 col-md-offset-2">
    <h2>Contact the Ka-Wi team!</h2>
    <img src="/assets/img/contact.jpg" class="img-responsive">
  </div>
  <div class="col-md-4 github">
    <p>
      <a href="https://github.com/aimenkhakwani" target="_blank">View Aimen Khakwani's GitHub</a>
    </p>
    <p>
      <a href="https://github.com/elysiaavery" target="_blank">View Elysia Nason's GitHub</a>
    </p>
  </div>
</div>
