<div class="container">
 <h1 class="text">CONTACTS US</h1>
</div>
<div class="jumbotron">
 <div class="col-md-6">
   <h4><strong>Yes!YOU CAN FIND US HERE</strong></h4>
   <ul>
     <li>Tel:+254708923421</li>
     <li><address class="ad">
       P.o Box;00100-Nairobi
     </address></li>
   </ul>
   <h6>SEND US AN EMAIL</h6>
   <div class="card">
   <div class="card-block">

       <!--Body-->
       <div class="md-form">
           <i class="fa fa-user prefix"></i>
           <input type="text" id="form3" class="form-control">
           <label for="form3">Your name</label>
       </div>
       <div class="md-form">
           <i class="fa fa-envelope prefix"></i>
           <input type="text" id="form2" class="form-control">
           <label for="form2">Your email</label>
       </div>

       <div class="md-form">
           <i class="fa fa-lock prefix"></i>
           <input type="password" id="form4" class="form-control">
           <label for="form4">Your password</label>
       </div>
       <div class="md-form">
           <i class="fa fa-tag prefix"></i>
           <input type="text" id="form32" class="form-control">
           <label for="form34">Subject</label>
      </div>

       <div class="text-center">
           <button class="btn btn-default">Submit</button>
           <hr>
           <fieldset class="form-group">
               <input type="checkbox" id="checkbox1">
               <label for="checkbox1">Subscribe me to the newsletter</label>
           </fieldset>
       </div>

   </div>
</div>
<!--/Form with header-->

</div>

<div class="col-md-6">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.901415294021!2d36.80287151427524!3d-1.228376699104026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17c240e3a93b%3A0x5bf594ee454e5102!2sOsteria+Gigiri!5e0!3m2!1sen!2s!4v1485982994724" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


</div>
